{% extends 'Message:Mothership:Ecommerce::fulfillment' %}
{% block process %}
	<h2>{{ heading }}</h2>
	{% if orders | length > 0 %}
		<table>
			<thead>
				<tr>
					<th>Order ID</th>
					<th>Placed at</th>
					<th>Customer</th>
					<th>Shipping method</th>
					<th>Value</th>
					<th>Printed</th>
					<th>Picked</th>
					<th>Packed</th>
					<th>Postaged</th>
					<th>Picked&nbsp;up</th>
				</tr>
			</thead>
			<tbody>
				{% for key, order in orders %}
					<tr>
						<td><a href="{{ url('ms.commerce.order.detail.view', {'orderID': order.id}) }}">{{ order.id }}</a></td>
						<td>{{ order.authorship.createdAt.date }}</td>
						<td><a href="{{ url('ms.cp.user.admin.detail.edit', {'userID': order.user.id}) }}">{{ order.user.name }}</a></td>
						<td>{{ order.shippingDisplayName }}</td>
						<td>{{ order.totalGross|price(order.currencyID) }}</td>

						{% for status in history[order.id] %}
							<td {% if (status["progress"] == 1) %} class="complete" {% elseif (status["progress"] > 0) %} class="partial" {% endif %}>
								{{ status["users"] }}
							</td>
						{% endfor %}
					</tr>
				{% endfor %}
			</tbody>
		</table>
	{% else %}
		<p>{{ 'ms.ecom.fulfillment.none'|trans }}</p>
	{% endif %}
{% endblock %}