{% extends '::fulfillment' %}

{% block process %}
	<h2>{{ heading }}</h2>

	{% if orders | length > 0 %}
		{{ form_start(form) }}
			<table>
				<thead>
					<tr>
						<th>Order ID</th>
						<th>Placed at</th>
						<th>Customer</th>
						<th>Shipping method</th>
						<th>Value</th>
						<th>Print</th>
					</tr>
				</thead>
				<tbody>
					{% for key, order in orders %}
						<tr>
							<td><a href="{{ url('ms.commerce.order.detail.view', {'orderID': order.id}) }}">
								{{ order.id }}
							</a></td>
							<td>{{ order.authorship.createdAt|date }}</td>
							<td><a href="#">{{ order.user.name }}</a></td>
							<td>{{ order.shippingName }}</td>
							<td>{{ order.totalGross|price }}</td>
							<td>
								{{ form_widget(form['choices'][key]) }}
							</td>
						</tr>
					{% endfor %}
				</tbody>
			</table>

			<button type="submit" class="button small save" id="save-content">{{ action }}</button>
		{{ form_end(form) }}
	{% else %}
		<p>{{ 'ms.ecom.fulfillment.none'|trans }}</p>
	{% endif %}
{% endblock %}