{% extends '::fulfillment' %}

{% block process %}
	<h2>{{ heading }}</h2>

	{% if orders | length > 0 %}
		<table class="order-listing">
			<thead>
				<tr>
					<th>Order ID</th>
					<th>Placed at</th>
					<th>Customer</th>
					<th>Shipping method</th>
					<th>Value</th>
					<th>{{ action }}</th>
				</tr>
			</thead>
			<tbody>
				{% for key, order in orders %}
					<tr>
						<td><a href="{{ url('ms.commerce.order.detail.view', {'orderID': order.id}) }}">
							{{ order.id }}
						</a></td>
						<td>{{ order.authorship.createdAt|date }}</td>
						<td><a href="{{ url('ms.cp.user.admin.detail.edit', {'userID': order.user.id}) }}">{{ order.user.name }}</td>
						<td>{{ order.shippingDisplayName }}</td>
						<td>{{ order.totalGross|price }}</td>
						<td><a href="{{ url(linkRoute, {orderID: order.id}) }}" data-live>{{ action }}</a></td>
					</tr>
				{% endfor %}
			</tbody>
		</table>
	{% else %}
		<p>{{ 'ms.ecom.fulfillment.none'|trans }}</p>
	{% endif %}
{% endblock %}