{% extends '::fulfillment' %}

{% block process %}
	<ul>
		{% for method in methods %}
			<li>
				<h2>{{ method.getDisplayName }} ({{ dispatches[method.getName]|length }})</h2>
				{{ form_start(forms[method.getName]) }}
					<table>
						<thead>
						<tr>
							<th>Order Id</th>
							<th>Date/Time</th>
							<th>Name</th>
							<th>Shipping method</th>
							<th>Country</th>
							<th></th>
						</tr>
						</thead>
						<tbody>
							{% set key = 0 %}
							{% for dispatch in dispatches[method.getName] %}
								<tr>
									<td><a href="{{ url('ms.commerce.order.detail.view', {'orderID': dispatch.order.id}) }}">
										{{ dispatch.order.id }}
									</a></td>
									<td>{{ dispatch.order.authorship.createdAt.date }}</td>
									<td><a href="#">{{ dispatch.order.user.name }}</a></td>
									<td>{{ dispatch.order.shippingName }}</td>
									<td>{{ dispatch.order.deliveryAddress.country }}</td>
									<td>
										{{ form_widget(forms[method.getName]['choices'][key]) }}
									</td>
								</tr>
							{% set key = key + 1 %}
							{% endfor %}
						</tbody>
					</table>
					<button type="submit" class="button small save">{{ action }}</button>
				{{ form_end(forms[method.getName]) }}
			</li>
		{% endfor %}
	</ul>
{% endblock %}