{% extends 'Message:Mothership:Ecommerce::fulfillment' %}

{% block process %}
	<ul class="pickup">
		{% for method in methods %}
			<li>
				<h2>{{ method.getDisplayName }} ({{ dispatches[method.getName]|length }})</h2>
				{% if dispatches[method.getName]|length < 1 %}
				<p class="notice">No packages to pick up.</p>
				{% else %}
				{{ form_start(forms[method.getName], {
					attr: {
						'data-select-all': null
					}
				}) }}
					<table>
						<thead>
						<tr>
							<th>Order ID</th>
							<th>Placed at</th>
							<th>Customer</th>
							<th>Shipping method</th>
							<th>Country</th>
							<th>Pick up</th>
						</tr>
						</thead>
						<tbody>
							{% set key = 0 %}
							{% for dispatch in dispatches[method.getName] %}
								<tr>
									<td><a href="{{ url('ms.commerce.order.detail.view', {'orderID': dispatch.order.id}) }}">
										{{ dispatch.order.id }}
									</a></td>
									<td>{{ dispatch.order.authorship.createdAt|date }}</td>
									<td><a href="{{ url('ms.cp.user.admin.detail.edit', {'userID': dispatch.order.user.id}) }}">{{ dispatch.order.user.name }}</a></td>
									<td>{{ dispatch.order.shippingDisplayName }}</td>
									<td>{{ dispatch.order.deliveryAddress.country }}</td>
									<td>
										{{ form_widget(forms[method.getName]['choices'][key]) }}
									</td>
								</tr>
							{% set key = key + 1 %}
							{% endfor %}
						</tbody>
					</table>
					<button type="submit" class="button small save" id="save-content">{{ action }}</button>
				{{ form_end(forms[method.getName]) }}
				{% endif %}
			</li>
		{% endfor %}
	</ul>
{% endblock %}