{% extends 'Message:Mothership:Ecommerce::fulfillment' %}

{% block process %}
	<ul>
		{% for method in methods %}
			<li>
				<h2>{{ method.getDisplayName }} ({{ dispatches[method.getName]|length }})</h2>
				{% if dispatches[method.getName]|length < 1 %}
				<p>No packages to post.</p>
				{% else %}
				<table>
					<thead>
						<tr>
							<th>Order ID</th>
							<th>Placed at</th>
							<th>Customer</th>
							<th>Shipping method</th>
							<th>Country</th>
							<th>Post</th>
						</tr>
					</thead>
					<tbody>
						{% for dispatch in dispatches[method.getName] %}
							<tr>
								<td><a href="{{ url('ms.commerce.order.detail.view', {'orderID': dispatch.order.id}) }}">
									{{ dispatch.order.id }}
								</a></td>
								<td>{{ dispatch.order.authorship.createdAt|date }}</td>
								<td><a href="{{ url('ms.cp.user.admin.detail.edit', {'userID': dispatch.order.user.id}) }}">{{ dispatch.order.user.name }}</a></td>
								<td>{{ dispatch.order.shippingDisplayName }}</td>
								<td>{{ dispatch.order.addresses.getByType('delivery').country }}</td>
								<td><a href="{{ url(linkRoute, {dispatchID: dispatch.id, orderID: dispatch.order.id}) }}" data-live>{{ action }}</a></td>
							</tr>
						{% endfor %}
					</tbody>
				</table>
				{% endif %}
			</li>
		{% endfor %}
	</ul>
{% endblock %}