{% extends '::fulfillment' %}

{% block process %}
	<ul>
		{% for method in methods %}
			<li>
				<h3>{{ method.getDisplayName }}</h3>
				<table>
					<thead>
						<tr>
							<th>Order ID</th>
							<th>Date/Time</th>
							<th>Name</th>
							<th>Shipping method</th>
							<th>Country</th>
							<th></th>
						</tr>
					</thead>
					<tbody>
						{% for dispatch in dispatches[method.getName] %}
							<tr>
								<td><a href="{{ url('ms.commerce.order.detail.view', {'orderID': dispatch.order.id}) }}">
									{{ dispatch.order.id }}
								</a></td>
								<td>{{ dispatch.order.authorship.createdAt.date }}</td>
								<td><a href="#">{{ dispatch.order.user.name }}</a></td>
								<td>{{ dispatch.order.shippingName }}</td>
								<td>{{ dispatch.order.deliveryAddress.country }}</td>
								<td><a href="{{ url(linkRoute, {dispatchID: dispatch.id, orderID: dispatch.order.id}) }}" data-live>{{ action }}</a></td>
							</tr>
						{% endfor %}
					</tbody>
				</table>
			</li>
		{% endfor %}
	</ul>
{% endblock %}