{% extends 'Message:Mothership:Ecommerce::Checkout:checkout-layout' %}

{% block content %}

{% if order.items|length != 0 %}

{{ form_start(form) }}
	<table>
		<thead>
			<tr>
				<td>Details</td>
				<td>Quantity</td>
				<td>Price</td>
				<td></td>
			</tr>
		</thead>
		<tbody>
				{% for item in basket %}
					<tr>
						<td>{{ item.item.productName }}, {{ item.item.options }}</td>
						<td>{{ form_widget(form['items'][item.item.unitID]) }}</td>
						<td>{{ item.item.listPrice }}</td>
						<td><a href="{{ url('ms.ecom.checkout.remove',{'unitID':item.item.unitID}) }}">Remove</a></td>
					</tr>
				{% endfor %}
			<tr>
				<td><button type="submit">Update</button></td>
				<td></td>
				<td></td>
				<td></td>
			</tr>
		</tbody>
		<tbody>
			<tr>
				<td></td>
				<td>Discount total</td>
				<td>{{ order.productDiscount }}</td>
			</tr>
			<tr>
				<td></td>
				<td>Sub total</td>
				<td>{{ order.productGross }}</td>
			</tr>

		{% if order.payments|length > 0 %}
			{% for payment in order.payments %}
				<tr>
					<td></td>
					<td>{{ payment.method.getDisplayName }}</td>
					<td>{{ payment.amount }}</td>
				</tr>
			{% endfor %}
		{% endif %}
		<tr>
			<td></td>
			<td>Total</td>
			<td>{{ order.getAmountDue }}</td>
		</tr>
		</tbody>
	</table>
{{ form_end(form) }}

<div class="discounts">
	{{ render(controller('Message:Mothership:Discount::Controller:AddDiscount#index')) }}
	{{ render(controller('Message:Mothership:Voucher::Controller:AddVoucher#index')) }}
</div>

<a href="{{ url('ms.ecom.checkout.details')}} ">Continue</a>
{% else %}
	<p>Your basket is empty</p>
	<a href="{{ url('ms.cms.frontend', {slug:'shop' }) }}">Go to the Shop section</a>
{% endif %}
{% endblock %}