<h1>Checkout</h1>
{% if order.items|length != 0 %}
{{ form_start(form) }}
	<div class="">
	{% for item in basket %}
		{{ form_row(form['items'][item.item.unitID]) }}
		<a href="{{ url('ms.ecom.checkout.remove',{'unitID':item.item.unitID}) }}">Remove</a>
	{% endfor %}
	</div>
	<button type="submit">Update</button>
{{ form_end(form) }}

<div class="totals">
	<p>Total: {{ order.productGross }}</p>
</div>

<div class="discounts">
	{{ form_start(discount) }}
		{{form_rest(discount)}}
		<button type="submit">Apply</button>
	{{ form_end(discount) }}

	{{ form_start(voucher) }}
		{{form_rest(voucher)}}
		<button type="submit">Apply</button>
	{{ form_end(voucher) }}
</div>

<a href="{{ url('ms.ecom.checkout.details')}} ">Continue</a>
{% else %}
	<p>Your basket is empty</p>
	<a href="{{ url('ms.cms.frontend', {slug:'shop' }) }}">Go to the Shop section</a>
{% endif %}