<h2>Delivery</h2>

	{{ form_start(form) }}
	{{ form_rest(form) }}
	<button type="submit">Submit</button>
{{ form_end(form) }}

<a href="{{ url('ms.ecom.checkout.details.addresses') }}">Amend addresses</a>
<a href="{{ url('ms.ecom.checkout.payment') }}">Continue to secure payment</a>