{% extends 'Message:Mothership:Ecommerce::Checkout:checkout-layout' %}

{% block content %}
	<div class="checkout">
		<section class="progress">
			<div class="stage">
				<h2>Stage 01<span> Your selection</span></h2>
			</div>
			<div class="stage">
				<h2>Stage 02<span> Your details</span></h2>
			</div>
			<div class="stage active">
				<h1>Stage 03<span> Delivery details</span></h1>
			</div>
			<div class="stage">
				<h2>Stage 04<span> Order overview</span></h2>
			</div>
			<div class="stage">
				<h2>Stage 05<span> Payment</span></h2>
			</div>
			<div class="stage">
				<h2>Stage 06<span> Confirmation</span></h2>
			</div>
		</section>

		<section class="delivery-details">
			<h1>Delivery details</h1>
			<div class="address">
				<h2>Delivery address</h2>
				{% if order.getAddress('delivery') %}
					{% set delivery = order.getAddress('delivery') %}

					<div class="adr">
						<span class="n">{{ delivery.forename }} {{ delivery.surname }}</span>
						<div class="street-address">{{ delivery.lines[1] }}</div>
						<div class="extended-address">{{ delivery.lines[2] }}</div>
						<span class="locality">{{ delivery.town }}</span>

						{% if delivery.stateName %}
							<span class="region">{{ delivery.stateName }}</span>
						{% endif %}

						<span class="postal-code">{{ delivery.postcode }}</span>
						<div class="country-name">{{ delivery.country }}</div>
					</div>
					<p><a href="{{ url('ms.ecom.checkout.details.addresses')}}">Change</a></p>
				{% endif %}
			</div>
			<div class="billing">
				<h2>Billing details</h2>
				{% if order.getAddress('billing') %}
					{% set billing = order.getAddress('billing') %}

					<div class="adr">
						<span class="n">{{ billing.forename }} {{ billing.surname }}</span>
						<div class="street-address">{{ billing.lines[1] }}</div>
						<div class="extended-address">{{ billing.lines[2] }}</div>
						<span class="locality">{{ billing.town }}</span>
						{% if billing.stateName %}
							<span class="region">{{ billing.stateName }}</span>
						{% endif %}

						<span class="postal-code">{{ billing.postcode }}</span>
						<div class="country-name">{{ billing.country }}</div>
					</div>

					<p><a href="{{ url('ms.ecom.checkout.details.addresses')}}">Change</a></p>

				{% endif %}
			</div>
			<div class="shipping">
				{% if showForm %}
					{{ form_start(form) }}{{ form_rest(form) }}<button type="submit">Submit</button>{{ form_end(form) }}
				{% else %}
					Delivery ({{ shippingMethod }})
				{% endif %}	
			</div>
		</section>

		<section class="selection">
			<table>
				<thead>
					<tr>
						<th width="170">Item</th>
						<th width="163">Description</th>
						<th width="149">Qty</th>
						<th width="84">Price</th>
						<th></th>
					</tr>
				</thead>
				<tbody>
					{% for item in basket %}
						<tr>
							<td width="170"><img src="http://placehold.it/130x140" width="130" height="140" alt=""></td>
							<td width="163">{{ item.item.productName }}, {{ item.item.options }}</td>
							<td width="149">{{ item.quantity }}</td>
							<td width="84"><strong>{{ item.item.listPrice|price }}</strong></td>
							<td></td>
						</tr>
					{% endfor %}
					<tr>
						<td width="170"></td>
						<td width="163"></td>
						<td width="149"></td>
						<td width="84"></td>
						<td></td>
					</tr>
				</tbody>
			</table>
		</section>

		<section class="totals">
			<table>
				<tbody>
					<tr>
						<td>Sub total:</td>
						<td class="ammount">{{ order.productGross|price }}</td>
					</tr>

					{% if order.productDiscount %}
					<tr>
						<td>Discount total</td>
						<td td class="ammount">{{ order.productDiscount }}</td>
					</tr>
					{% endif %}

					{% if order.payments|length > 0 %}
						{% for payment in order.payments %}
							<tr>
								<td>{{ payment.method.getDisplayName }}</td>
								<td td class="ammount">{{ payment.amount|price }}</td>
							</tr>
						{% endfor %}
					{% endif %}
					<tr>
						<td>Delivery</td>
						<td class="ammount"> {{ order.shippingGross|price }}</td>
					</tr>
				</tbody>
				<tfoot>
					<tr>
						<td>Total:</td>
						<td class="ammount">{{ order.getAmountDue|price }}</td>
					</tr>
				</tfoot>
			</table>			
		</section>
		<nav class="checkout-nav">
			<a href="{{ url('ms.ecom.checkout.payment') }}" class="button continue">Continue to secure payment</a>
		</nav>
	</div>
	
{% endblock %}