{% extends 'Message:Mothership:Ecommerce::checkout:checkout-layout' %}

{% block content %}
	<div class="checkout">
		<section class="progress">
			<div class="stage">
				<h2>Stage 01<span> Your selection</span></h2>
			</div>
			<div class="stage">
				<h2>Stage 02<span> Your details</span></h2>
			</div>
			<div class="stage">
				<h2>Stage 03<span> Delivery details</span></h2>
			</div>
			<div class="stage">
				<h2>Stage 04<span> Payment</span></h2>
			</div>
			<div class="stage active">
				<h1>Stage 05<span> Confirmation</span></h1>
			</div>
		</section>

		<section class="confirmation">
			<h1>Confirmation</h1>
			<p>A copy of this confirmation has been emailed to {{ order.userEmail }}</p>
		</section>

		<section class="delivery-details">
			<div class="address">
				<h2>Delivered to</h2>
			{% if order.getAddress('delivery') %}
				{% set delivery = order.getAddress('delivery') %}

				<div class="adr">

					<span class="n">{{ delivery.forename }} {{ delivery.surname }}</span>
					<div class="street-address">{{ delivery.lines[1] }}</div>
					<div class="extended-address">{{ delivery.lines[2] }}</div>
					<span class="locality">{{ delivery.town }}</span>,

					{% if delivery.stateName %}
						<span class="region">{{ delivery.stateName }}</span>
					{% endif %}

					<span class="postal-code">{{ delivery.postcode }}</span>
					<div class="country-name">{{ delivery.country }}</div>
				</div>
			{% endif %}
			</div>
			<div class="billing">
				<h2>Billed to</h2>
				{% if order.getAddress('billing') %}
					{% set billing = order.getAddress('billing') %}

					<div class="adr">
						<span class="n">{{ billing.forename }} {{ billing.surname }}</span>
						<div class="street-address">{{ billing.lines[1] }}</div>
						<div class="extended-address">{{ billing.lines[2] }}</div>
						<span class="locality">{{ billing.town }}</span>,

						{% if billing.stateName %}
							<span class="region">{{ billing.stateName }}</span>
						{% endif %}

						<span class="postal-code">{{ billing.postcode }}</span>
						<div class="country-name">{{ billing.country }}</div>
					</div>

				{% endif %}
			</div>
		</section>

		<section class="selection">
			<table>
				<thead>
					<tr>
						<th class="item">Item</th>
						<th class="description">Description</th>
						<th class="quantity">Qty</th>
						<th class="price">Price</th>
						<th class="remove"></th>
					</tr>
				</thead>
				<tbody>
					{% for item in items %}
						<tr>
							<td class="item">
								{{ getResizedImage(item.item.product.getUnitImage(item.item.unit, 'default'), 130, 140) }}

							</td>
							<td class="description">{{ item.first.productName }}, {{ item.first.options }}</td>
							<td class="quantity">{{ item.quantity }}
							<td class="price">{{ item.first.listPrice|price }}</td>
							<td class="remove"></td>
						</tr>
					{% endfor %}
				</tbody>
			</table>
		</section>

		<section class="totals">
			<table>
				<tbody>
				{% if order.productDiscount %}
					<tr>
						<td>Discount total</td>
						<td class="ammount">{{ order.productDiscount }}</td>
					</tr>
				{% endif %}
					<tr>
						<td>Sub Total</td>
						<td class="ammount">{{ order.productGross|price }}</td>
					</tr>
				{% for payment in order.payments %}
					<tr>
						<td>{{ payment.method.getDisplayName }}</td>
						<td class="ammount">{{ payment.amount|price }}</td>
					</tr>
				{% endfor %}
					<tr>
						<td>Delivery: {{ shippingName }}</td>
						<td class="ammount">{{ order.shippingGross|price }}</td>
					</tr>
				</tbody>
				<tfoot>
					<tr>
						<td>Amount Paid: </td>
						<td class="ammount">{{ order.totalGross|price }}</td>
					</tr>
				</tfoot>
			</table>
		</section>

		<nav class="checkout-nav">
			<a href="{{ url('ms.cms.frontend', {slug:'shop' }) }}" class="button continue">Back to {{ siteName }}</a>
		</nav>

	</div>

{% endblock %}