{% extends 'Message:Mothership:Ecommerce::checkout:checkout-layout' %}

{% block content %}
	<div class="checkout">

		<section class="progress">
			<div class="stage">
				<h2>Stage 01<span> Your selection</span></h2>
			</div>
			<div class="stage active">
				<h1>Stage 02<span> Your details</span></h1>
			</div>
			<div class="stage">
				<h2>Stage 03<span> Delivery details</span></h2>
			</div>
			<div class="stage">
				<h2>Stage 04<span> Payment</span></h2>
			</div>
			<div class="stage">
				<h2>Stage 05<span> Confirmation</span></h2>
			</div>
		</section>

	{{ form_start(form) }}

		<section class="billing registration">
			<h2>Billing Address</h2>
			<div class="column">
				{{ form_row(form.billing.title) }}
				{{ form_row(form.billing.forename) }}
				{{ form_row(form.billing.surname) }}
			</div>
			<div class="column no-margin">
				{{ form_row(form.billing.address_line_1) }}
				{{ form_row(form.billing.address_line_2) }}
				{{ form_row(form.billing.address_line_3) }}
				{{ form_row(form.billing.address_line_4) }}
				{{ form_row(form.billing.town) }}
				{{ form_row(form.billing.postcode) }}
				{{ form_row(form.billing.telephone) }}
				{{ form_row(form.billing.country_id) }}
				{{ form_row(form.billing.state_id, {
					attr: {
						'data-state-filter-country-selector': '#' ~ form.billing.country_id.vars.id
					}
				}) }}
				{{ form_row(form.deliver_to_billing, {
					attr: {
						'data-toggle': 'section.delivery'
					}
				}) }}
			</div>

		</section>

		<section class="delivery registration">
			<h2>Delivery Address</h2>
			<div class="column">
				{{ form_row(form.delivery.title, { required: false }) }}
				{{ form_row(form.delivery.forename, { required: false }) }}
				{{ form_row(form.delivery.surname, { required: false }) }}
			</div>
			<div class="column no-margin">
				{{ form_row(form.delivery.address_line_1, { required: false }) }}
				{{ form_row(form.delivery.address_line_2, { required: false }) }}
				{{ form_row(form.delivery.address_line_3, { required: false }) }}
				{{ form_row(form.delivery.address_line_4, { required: false }) }}
				{{ form_row(form.delivery.town, { required: false }) }}
				{{ form_row(form.delivery.postcode, { required: false }) }}
				{{ form_row(form.delivery.telephone, { required: false }) }}
				{{ form_row(form.delivery.country_id, { required: false }) }}
				{{ form_row(form.delivery.state_id, {
					attr: {
						'data-state-filter-country-selector': '#' ~ form.delivery.country_id.vars.id
					},
					 required: false
				}) }}
			</div>
		</section>

		<nav class="checkout-nav">
			<button type="submit" class="button continue">Save and continue</button>
		</nav>

	{{ form_end(form) }}
	</div>
{% endblock %}