{% extends 'Message:Mothership:Ecommerce::checkout:checkout-layout' %}

{% block content %}
	<div class="checkout">

		<section class="progress">
			<div class="stage active">
				<h1>Stage 01<span> Your selection</span></h1>
			</div>
			<div class="stage">
				<h2>Stage 02<span> Your details</span></h2>
			</div>
			<div class="stage">
				<h2>Stage 03<span> Delivery details</span></h2>
			</div>
			<div class="stage">
				<h2>Stage 04<span> Order overview</span></h2>
			</div>
			<div class="stage">
				<h2>Stage 05<span> Payment</span></h2>
			</div>
			<div class="stage">
				<h2>Stage 06<span> Confirmation</span></h2>
			</div>
		</section>
	{% if order.items|length != 0 %}

	{{ form_start(form, {'attr': {id: 'checkout-selection-form'}}) }}
		<section class="selection">

			<h1>Your Selection</h1>

			<table>

				<thead>
					<tr>
						<th class="item">Item</th>
						<th class="description">Description</th>
						<th class="quantity">Qty</th>
						<th class="price">Price</th>
						<!-- <th>Sub Total</th> -->
						<th class="remove"></th>
					</tr>
				</thead>
				<tbody>
						{% for item in basket %}
							<tr>
								<td class="item">
									{{ getResizedImage(item.item.product.getUnitImage(item.item.unit, 'default'), 130, 140) }}
								</td>
								<td class="description">{{ item.item.productName }}, {{ item.item.options }}</td>
								<td class="quantity">{{ form_widget(form['items'][item.item.unitID]) }}</td>
								<td class="price"><strong>{{ item.item.listPrice|price }}</strong></td>
								<!-- <td>{{ item.subTotal|price }}</td> -->
								<td class="remove"><a href="{{ url('ms.ecom.checkout.remove',{'unitID':item.item.unitID}) }}">Remove</a></td>
							</tr>
						{% endfor %}
					<tr>
						<td class="item"></td>
						<td class="description"></td>
						<td class="quantity"></td>
						<td class="price"></td>
						<td class="remove"></td>
					</tr>
				</tbody>
			</table>
			<button type="sstage1ubmit">Update</button>
		</section>
	{{ form_end(form) }}

		<section class="discounts">
			<div class="discount-code">
				{{ render(controller('Message:Mothership:Discount::Controller:AddDiscount#index')) }}
			</div>
			<div class="gift-voucher">
				{{ render(controller('Message:Mothership:Voucher::Controller:AddVoucher#index')) }}
			</div>
		</section>

		<section class="totals">
			<table>
				<tbody>
				{% if order.productDiscount %}
					<tr>
						<td>Discount total</td>
						<td class="amount"><span data-checkout-live-update>{{ (order.productDiscount * -1)|price }}</span></td>
					</tr>
				{% endif %}
					<tr>
						<td>Sub total</td>
						<td class="amount"><span data-checkout-live-update>{{ order.productGross|price }}</span></td>
					</tr>

				{% if order.payments|length > 0 %}
					{% for payment in order.payments %}
						<tr>
							<td>{{ payment.method.getDisplayName }}</td>
							<td class="amount" data-checkout-live-update>{{ (payment.amount * -1)|price }}</td>
						</tr>
					{% endfor %}
				{% endif %}
				</tbody>

				<tfoot>
					<tr>
						<td>Total</td>
						<td class="amount" data-checkout-live-update>{{ order.getAmountDue|price }}</td>
					</tr>
				</tfoot>
			</table>
		</section>

		<nav class="checkout-nav">
			<!-- <a href="{{ url('ms.cms.frontend', {slug:'shop' }) }}" class="button">Continue shopping</a> -->
			<a href="{{ url('ms.ecom.checkout.details')}} " class="button continue">Continue</a>
			<hr>
			<p>Gift wrap your order?<br><a href="#">Find out more here</a></p>
		</nav>

	{% else %}
		<p>Your basket is empty</p>
	{% endif %}

	</div>
{% endblock %}