{% macro renderTotals(order, partsToRender, footer) %}
{% set partsToRender = partsToRender ?: ['discount', 'subTotal', 'shipping', 'payment'] %}
{% set footer = footer ?: 'amountDue' %}

{% set amountDue = 0 %}
{% set amountPaid = order.totalGross %}
		{% if 'subTotal' in partsToRender %}
			<tr>
				<td colspan="2">Subtotal</td>
				<td colspan="2" data-checkout-live-update>{{ order.items.getTotalBasePrice|price }}</td>
			</tr>
			{% set amountDue = amountDue + order.productGross %}

			{% set tax = order.items.getTotalGrossPrice - order.items.getTotalBasePrice %}
			{% if tax %}
				<div class="tax-adjustments">
					<span>Tax adjustment</span>
					<span data-checkout-live-update>{{ tax | price }}</span>
				</div>
			{% endif %}
		{% endif %}


		{% if 'discount' in partsToRender and order.productDiscount %}
			<tr>
				<td colspan="2">Discount total</td>
				<td colspan="2" data-checkout-live-update>{{ (order.productDiscount * -1)|price }}</td>
			</tr>
		{% endif %}

		{% if 'shipping' in partsToRender %}
			<tr>
				<td colspan="2">Shipping</td>
				<td colspan="2" data-checkout-live-update>{{ order.shippingGross|price }}</td>
			</tr>
			{% set amountDue = amountDue + order.shippingGross %}
		{% endif %}

		{% if 'voucher' in partsToRender %}
		{% for payment in order.payments %}
		{% if payment.method.getName == 'voucher' %}
			<tr>
				<td>Voucher</td>
				<td class="amount" data-checkout-live-update>{{ (0 - payment.amount)|price }}</td>
			</tr>
			{% set amountDue = amountDue - payment.amount %}
			{% set amountPaid = amountPaid - payment.amount %}
		{% endif %}
		{% endfor %}
		{% endif %}

		{% if 'amountDue' in partsToRender %}
		<tr>
			<td colspan="2">Amount due</td>
			<td colspan="2" data-checkout-live-update>{{ (amountDue)|price }}</td>
		</tr>
		{% endif %}

		{% if 'payment' in partsToRender %}
		{% for payment in order.payments %}
			<tr>
				<td colspan="2">{{ payment.method.getDisplayName }}</td>
				<td colspan="2" data-checkout-live-update>{{ payment.amount|price }}</td>
			</tr>
			{% set amountDue = amountDue - payment.amount %}
		{% endfor %}
		{% endif %}
			{% if footer == 'amountDue' %}
			<tr class="amount">
				<td colspan="2">Amount due</td>
				<td colspan="2" data-checkout-live-update>{{ (amountDue)|price }}</td>
			</tr>
			{% endif %}

			{% if footer == 'amountPaid' %}
				<tr class="amount">
					<td colspan="2">Amount paid</td>
					<td colspan="2" data-checkout-live-update>{{ amountPaid|price }}</td>
				</tr>
			{% endif %}

{% endmacro %}