{% extends 'Message:Mothership:Commerce::product:edit-layout' %}
{% import 'Message:Mothership:Commerce::options' as option %}
{% block edit %}
	<ul>
		{% for page in pages %}
			<li><a href="{{ url('ms.cp.cms.edit', {pageID: page.id}) }}">{{ page.title }}</a></li>
		{% endfor %}
	</ul>

	{{ form_start(form) }}
	{{ form_rest(form) }}
	<button>Go</button>
	{{ form_end(form) }}
{% endblock %}
