<div class="page">
	<table>
		<thead>
		<tr>
			<th>Brand</th>
			<th>Description</th>
			<th>SKU</th>
			<th>Quantity</th>
		</tr>
		</thead>
		<tbody>
			{% for item in rows %}
				<tr>
					<td>{{ item.first.brand }}</td>
					<td>{{ item.first.productName }}, {{ item.first.options }}</td>
					<td>{{ item.first.sku }}</td>
					<td>{{ item.quantity }}</td>
				</tr>
			{% endfor %}
		</tbody>
	</table>
</div>