ORDER DETAILS

<table border=1px style="border-collapse:collapse" width=100%>
	<thead>
		<tr>
			<th>ORDER NUMBER</th>
			<th>ORDER DATE</th>
			<th>ORDER STATUS</th>
			<th>VAT REGISTRATION</th>
			<th>SELLER</th>
			<th>CUSTOMER</th>
		</tr>
	</thead>
	<tbody valign="top">
		<tr>
			<td> {{ order.orderID }} </td>
			<td> {{ order.authorship.createdAt|date }} </td>
			<td> {{ order.status.name }} </td>
			<td>  </td>
			<td> Uniform Wares <br />
				 Studio 12A <br />
				 London <br />
				 E8 4TS	</td>
			<td> {{ order.user.title }} {{ order.user.forename }} {{ order.user.surname }} <br /> 
				 {{ order.shippingName }} <br /> 
				 Add2 <br /> 
				 Add3 <br /> 
				 Add4 </td>
		</tr>
	</tbody>
</table>

<p>Order Tracking: <br />
	<a href ="">Track this package (ref:??) at ???</a>



<p>PURCHASED ITEMS: <br />
{% if order.orderID %}
	<table border=1px style="border-collapse:collapse" width=100%>
		<thead>
			<tr>
				<th>Brand</th>
				<th>Product</th>
				<th>Options</th>
				<th>SKU</th>
				<th>Gross</th>
			</tr>
		</thead>
		<tbody?
			{#% for order in orders %#}
				<tr>
					<td> {{ order.brand }} </td>
					<td> {{ order.productName }} </td>
					<td> {{ order.options }} </td>
					<td> {{ order.sku }} </td>
					<td> {{ order.totalGross|price }}  </td>
				</tr>
			{#% endfor %#}
		</tbody>
	</table>
{% else %}		
		{ This order has no purchased items.
{% endif %}

<p>RETURNED ITEMS: <br />
{% if return.orderID %}
	<table border=1px style="border-collapse:collapse" width=100%>
		<thead>
			<tr>
				<th>Brand</th>
				<th>Product</th>
				<th>SKU</th>
				<th>Reason</th>
				<th>Status</th>
			</tr>
		</thead>
		<tbody?
				<tr>
					<td> {{ order.brand }} </td>
					<td> {{ order.productName }} </td>
					<td> {{ order.options }} </td>
					<td> {{ order.sku }} </td>
					<td> {{ order.gross }} </td>
				</tr>
		</tbody>
	</table>
{% else %}
	This order has no returned items.
{% endif %}
