{% if basket %}
	<h2>Basket</h2>
	<ul>
	{% for key,item in basket %}
		<li>{{ item.quantity }} x {{item.item.productName}} {{item.item.options|join(' / ')}} | {{ order.currnecyID }} {{ item.item.listPrice }}</li>
	{% endfor %}
	<li>Total: {{ order.totalGross }}</li>
	</ul>
	<p><a href="{{ url('ms.ecom.checkout') }}">Go to checkout</a>
	<p><a href="{{ url('ms.ecom.basket.empty') }}">Empty Basket</a>
{% endif %}