{% extends '::fulfillment' %}

{% block process %}
	<h2>Posting package for order {{ dispatch.order.id }}</h2>
	<section class="dual-column">
		<div class="content">
			<div class="column">
				<h3>Delivery address</h3>
				<dl>
					<dt>Name</dt>
						<dd>{{ deliveryAddress.getName }}</dd>
					<dt>Address</dt>
						<dd class="adr-line">
							{% for line in deliveryAddress.lines %}
								<span>{{ line }}</span>
							{% endfor %}
							<span>{{ deliveryAddress.town }}</span>
							<span>{{ deliveryAddress.postcode }}</span>
							{% if deliveryAddress.state %}
							<span>{{ deliveryAddress.state }}</span>
							{% endif %}
							<span>{{ deliveryAddress.country }}</span>
						</dd>
					<div class= "clearfix"></div>
					<dt>Telephone</dt>
						<dd>{{ deliveryAddress.telephone }}</dd>
				</dl>
				<a href="{{ amendAddressUrl }}" class="button small submit edit">Edit address</a>
			</div>
			<div class="column">
				{{ form_start(form) }}
					{{ form_row(form.deliveryID) }}
					{% if dispatch.method.allowAutomaticPostage %}
						<a href="{{ url('ms.ecom.fulfillment.process.post.auto', {orderID: dispatch.order.id, dispatchID: dispatch.id}) }}" class="button small submit">Postage this package automatically</a>
					{% endif %}
					<button type="submit" class="button small save" id="save-content">{{ action }}</button>
				{{form_end(form)  }}
			</div>
		</div>
	</section>
{% endblock %}