{% extends '::fulfillment' %}

{% block process %}
	<h2>{{ heading }}</h2>
	{{ form_start(form) }}
		<ul>
			{% for key, item in items %}
				<li>
					<h3>{{ item.getDescription }}</h3>
					{{ form_widget(form['choices'][key]) }}
				</li>
			{% endfor %}
		</ul>

		{{ form_rest(form) }}

		<button type="submit" class="button small save">{{ action }}</button>


		{% if packingSlips | length > 0 %}
			<h3>View packing slips</h3>
			<ul>
				{% for documentID, packingSlip in packingSlips %}
					<li><a href="{{ url('ms.ecom.fulfillment.picking.view', {'documentID': documentID, 'orderID': packingSlip}) }}" target="_blank">
						{{ documentID }}
					</a></li>
				{% endfor %}
			</ul>
		{% endif %}

		{% if deliveryNotes | length > 0 %}
			<h3>View delivery notes</h3>
			<ul>
				{% for documentID, deliveryNote in deliveryNotes %}
					<li><a href="{{ url('ms.ecom.fulfillment.picking.view', {'documentID': documentID, 'orderID': deliveryNote}) }}" target="_blank">
						{{ documentID }}
					</a></li>
				{% endfor %}
			</ul>
		{% endif %}

	{{ form_end(form) }}
{% endblock %}