{% extends '::fulfillment' %}

{% block process %}
<div class="container-details">
	<h2>{{ heading }}</h2>
	{{ form_start(form) }}
		<table class="pick-list">
				<thead>
					<tr>
					<th>Product</th>
					<th>Pick Item</th>
					</tr>	
				</thead>	

			<tbody>
			{% for key, item in items %}
				<tr>
					<td>{% set image = item.getProduct.getUnitImage(item.getUnit) %}
					{% if image %}
					<img src="{{ resize(image.file.file.getPublicUrl, 200, 200) }}" />
					{% endif %}<span>{{ item.getDescription }}</span></td>
					<td class="pick-item">{{ form_widget(form['choices'][key]) }}</td>
				</tr>
			{% endfor %}
			</tbody>
		</table>

		{{ form_rest(form) }}

		<button type="submit" class="button small save" id="save-content">{{ action }}</button>
</div>
<div class="widget-sidebar">
<div class="widget">
	<h2>Additional Information</h2>
	<dl>
		{% if packingSlips | length > 0 %}

			<dt>Packing slips:</dt>
			<dd>
				<ul>
				{% for documentID, packingSlip in packingSlips %}
					<li><a href="{{ url('ms.ecom.fulfillment.picking.view', {'documentID': documentID, 'orderID': packingSlip}) }}" target="_blank">
						Document #{{ documentID }}</a></li>
				{% endfor %}		
					</ul>
			</dd>
				

		{% endif %}

		{% if deliveryNotes | length > 0 %}
			<dt>Delivery notes:</dd>
			<dd>
				<ul>
				{% for documentID, deliveryNote in deliveryNotes %}
					<li><a href="{{ url('ms.ecom.fulfillment.picking.view', {'documentID': documentID, 'orderID': deliveryNote}) }}" target="_blank">
						Document #{{ documentID }}
					</a></li>
				{% endfor %}
			</ul>
			</dd>

		{% endif %}
	</dl>
</div>
</div> 

	{{ form_end(form) }}
{% endblock %}